  .google{
      margin-bottom: 36px;
        button{
            width: 420px;
            height: 50px;
            border-radius: 56px;
            background: rgb(255, 95, 82);
            border: none; 
            &:hover {
                background: linear-gradient(to right, #cb202d, #dc1e28, #3366cc); 
                color: white;
            }
            img{
                padding-right: 16px;
            }
        }
    }