.profils {
    display: flex;
    justify-content: center;
    align-items: center;
    .profile {
        margin-top: 56px;
        margin-bottom: 208px;
        width: 507px;
        height: 598px;
        border-radius: 16px;
        background: rgb(255, 255, 255);
        text-align: center;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    h1{
        color: rgb(25, 25, 25);
        font-family: Playfair Display;
        font-size: 30px;
        font-weight: 800;
        line-height: 40px;
        margin-top: 30px;
    }
    p{
        color: rgb(140, 149, 163);
        font-family: Inter;
        font-size: 14px;
        font-weight: 400;
        line-height: 125%;
        letter-spacing: 0%;
        text-align: center;
        width: 405px;
        margin-bottom: 36px;
    }
    .syz {
        display: flex;
        align-items: center; 
        justify-content: center; 
        width: 100%; 
    
    p {
            color: rgb(76, 108, 145); 
            font-size: 14px; 
            font-weight: 400; 
        }
    }
    }
}

