.katalog{
    button{
        width: 127px;
        height: 45px;
        border-radius: 45px;
        background: rgb(161, 99, 65);
        border: none;

        img{
        }
        a{
        padding-left: 16px;
        color: rgb(255, 255, 255);
        font-family: Inter;
        font-size: 14px;
        font-weight: 500;
        line-height: 125%;
        letter-spacing: 0%;
        text-align: center;
        text-decoration: none;
    }
    }
}